body{
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#header,
#recipe-title{
    color: white;
}

#header{
    background-color: #89023E;
    padding: 15px;
}

#recipe-title{
    background-color: #F9564F;
    padding: 5px 15px;
}

.content{
    margin: 10px;
}